aiohttp==3.7.4.post0
amqp==5.0.6
aniso8601==9.0.1
async-timeout==3.0.1
attrs==21.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.7
fake-useragent==0.1.11
Flask==1.1.2
Flask-JWT-Extended==4.2.0
Flask-RESTful==0.3.8
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
instagram-private-api==1.6.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
kaitaistruct==0.9
kombu==5.0.2
MarkupSafe==1.1.1
multidict==5.1.0
prompt-toolkit==3.0.18
pyasn1==0.4.8
pycparser==2.20
PyJWT==2.1.0
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
rq==1.8.0
selenium==3.141.0
selenium-wire==4.3.0
six==1.16.0
threadedprocess==0.0.5
typing-extensions==3.10.0.0
undetected-chromedriver==2.2.7
urllib3==1.26.4
uWSGI==2.0.19.1
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
wsproto==1.0.0
yarl==1.6.3
